# Data Science Tools and Ecosystem

## Author
Vytas

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
- List open source tools used in data science
- make some arithmetic calculations
- create Jupyter notebook
- practice git commands
- introduce yourself to R Studio and R programming language

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. matplotib
2. ggplot
3. pandas

|Data Science Tools|
|----|
|Jupyter Notebooks|
|R Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

min = 200
hours = min / 60

print(hours)

3.3333333333333335